<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.creativeminds.opinion">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".activities.GenderStatisticsActivity"></activity>
        <activity android:name=".activities.LocationStatisticsActivity" />
        <activity android:name=".activities.ScanAadharQRActivity" />
        <activity android:name=".activities.OccupationActivity" />
        <activity android:name=".activities.AgeWiseActivity" />
        <activity
            android:name=".activities.PollStatisticsActivity"
            android:label="Poll Statistics"
            android:parentActivityName=".activities.MyPollDetailsActivity"
            android:theme="@style/RegisterBackground" />
        <activity
            android:name=".activities.CandidateStatisticsActivity"
            android:label="Candidate Statistics"
            android:parentActivityName=".activities.MyPollDetailsActivity"
            android:theme="@style/RegisterBackground" />
        <activity
            android:name=".activities.SurveyActivity"
            android:label="Surveys"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/RegisterBackground" />
        <activity
            android:name=".activities.NewSurveyActivity"
            android:label="New Survey"
            android:theme="@style/RegisterBackground" />
        <activity android:name=".activities.VoteSuccessActivity" />
        <activity
            android:name=".activities.MyPollDetailsActivity"
            android:label="Poll Details"
            android:parentActivityName=".activities.PollsListActivity"
            android:theme="@style/RegisterBackground" />
        <activity
            android:name=".activities.CandidateDetailsActivity"
            android:label="Candidate Details"
            android:theme="@style/RegisterBackground" />
        <activity
            android:name=".activities.VotingActivity"
            android:label="Poll Details"
            android:theme="@style/RegisterBackground" />
        <activity
            android:name=".activities.PollsListActivity"
            android:label="My Polls"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/RegisterBackground" />
        <activity
            android:name=".activities.ShowPollQRActivity"
            android:label="Poll QR Code"
            android:theme="@style/RegisterBackground" />
        <activity
            android:name=".activities.CreatePollActivity"
            android:label="Create New Poll"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/RegisterBackground" />
        <activity
            android:name=".activities.ScanQRActivity"
            android:label="Scan Aadhaar Card " />
        <activity
            android:name=".activities.RegisterActivity"
            android:theme="@style/RegisterBackground" />
        <activity android:name=".activities.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>